<h1>Hello</h1>

<form action="http://localhost:3000/create_zodiac">

  <label>Sign</label>
  <input name="sign" type="text">

  <label>Creature</label>
  <input name="creature" type="text">

  <label>Fortune</label>
  <textarea name="fortune"></textarea>

  <button>Submit</button>

</form>

